<footer id="gtco-footer" role="contentinfo">
    <div class="gtco-container">
      <div class="row row-p	b-md">
  
        <div class="col-md-4">
          <div class="gtco-widget">
            <h3> A Propos</h3>
            <p>Ce site est la continuité du livre << Maisons d'hôtes et hôtels de charme en Tunisie », publié aux Editions FIL (2019). Il vous permettra de découvrir la Tunisie autrement, à travers de sublimes maisons d'hôtes, des hôtels de charme, des gites ainsi que des campements. Chaque lieu présenté a été sélectionné, testé et photographié par nos soins. Et nous continuons à arpenter le pays pour vous faire part de nouveaux lieux au fur et à mesure.</p>
          </div>
        </div>
  
        <div class="col-md-2 col-md-push-1">
          <div class="gtco-widget">
            <h3>Destination</h3>
            <ul class="gtco-footer-links">
              <li><a href="#">Sousse</a></li>
              <li><a href="#">Djerba</a></li>
              <li><a href="#">Touzer</a></li>
              <li><a href="#">Zarzis</a></li>
              <li><a href="#">Tunis</a></li>
            </ul>
          </div>
        </div>
  
       
  
        <div class="col-md-3 col-md-push-1">
          <div class="gtco-widget">
            <h3>Contact</h3>
            <ul class="gtco-quick-contact">
              <li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
              <li><a href="#"><i class="icon-mail2"></i> info@freehtml5.co</a></li>
              <li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
            </ul>
          </div>
        </div>
  
      </div>
  
      <div class="row copyright">
        <div class="col-md-12">
          <p class="pull-left">
            <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
            <small class="block">Designed by <a href="https://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
          </p>
         
        </div>
      </div>
  
    </div>
  </footer>
  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
