<div class="gtco-section">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>les maisons les plus populaire</h2>
         
        </div>
      </div>
      <div class="row">
  
        <div class="col-lg-4 col-md-4 col-sm-6">
          <a href="assets/images/img_1.jpg" class="fh5co-card-item image-popup">
            <figure>
              <div class="overlay"><i class="ti-plus"></i></div>
              <img src="assets/images/img_1.jpg" alt="Image" class="img-responsive">
            </figure>
            <div class="fh5co-text">
              <h2>Dar Antonia ,Sousse</h2>
             
              <p><span class="btn btn-primary">voir plus</span></p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <a href="assets/images/img_2.jpg" class="fh5co-card-item image-popup">
            <figure>
              <div class="overlay"><i class="ti-plus"></i></div>
              <img src="assets/images/img_2.jpg" alt="Image" class="img-responsive">
            </figure>
            <div class="fh5co-text">
              <h2>Dar Marzouk,Djerba</h2>
             
              <p><span class="btn btn-primary">voir plus</span></p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <a href="assets/images/img_3.jpg" class="fh5co-card-item image-popup">
            <figure>
              <div class="overlay"><i class="ti-plus"></i></div>
              <img src="assets/images/img_3.jpg" alt="Image" class="img-responsive">
            </figure>
            <div class="fh5co-text">
              <h2>Dar Saddik,Gafsa</h2>
            
              <p><span class="btn btn-primary">voir plus</span></p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <a href="assets/images/img_4.jpg" class="fh5co-card-item image-popup">
            <figure>
              <div class="overlay"><i class="ti-plus"></i></div>
              <img src="assets/images/img_4.jpg" alt="Image" class="img-responsive">
            </figure>
            <div class="fh5co-text">
              <h2>Dar Zyne La Médina,Tunis</h2>
              
              <p><span class="btn btn-primary">voir plus</span></p>
            </div>
          </a>
        </div>
  
        <div class="col-lg-4 col-md-4 col-sm-6">
          <a href="assets/images/img_5.jpg" class="fh5co-card-item image-popup">
            <figure>
              <div class="overlay"><i class="ti-plus"></i></div>
              <img src="assets/images/img_5.jpg" alt="Image" class="img-responsive">
            </figure>
            <div class="fh5co-text">
              <h2>Dar El Caid ,Touzer</h2>
              
              <p><span class="btn btn-primary">voir plus</span></p>
            </div>
          </a>
        </div>
  
        <div class="col-lg-4 col-md-4 col-sm-6">
          <a href="assets/images/img_6.jpg" class="fh5co-card-item image-popup">
            <figure>
              <div class="overlay"><i class="ti-plus"></i></div>
              <img src="assets/images/img_6.jpg" alt="Image" class="img-responsive">
            </figure>
            <div class="fh5co-text">
              <h2>Dar Oomi,Zarzis</h2>
              
              <p><span class="btn btn-primary">voir plus</span></p>
            </div>
          </a>
        </div>
  
       
  
      </div>
    </div>
  </div>
  